.container_profile {
    width: 1280px;
    margin: auto;
}
.link_bar {
    display: flex;
    flex-direction: column;
}
.left_menu {    
    width: 1280px;
    display: flex;
    margin: 15px

}

.rigth_menu {
    width: 80%;
}