.sliderContainer {
    border: 2px solid darkgreen;
    margin: 10px;
    padding: 5px;
    max-width: 600px;

}
.sliderContainer>img {
    margin: 15px;
    width: 250px;
    height: 250px;

}
.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


.reviews {
    border: solid 2px darkgreen;
    padding: 5px;
    margin: 10px;
}

.sitterInfo {
    border: 2px solid darkgreen;
    margin: 10px;
    padding: 5px;
    /*   display: block;
    position: sticky; */
    top: 90px;
    right: 325px;

    width: 600px;
    height: 300px;

}

.sitterInfo>a {
    color: black;
}

.details {
    border: solid 2px darkgreen;
    padding: 5px;
    margin: 10px;
}