.setting_form {
    display: flex;
    flex-direction: column;
}
.setting_form>form {
    padding: 0;
}
.form-item {
    display: flex;
    flex-direction: column;
}
.form-itemm {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.form-itemm>span {
    padding-top: 10px;
    padding-bottom: 5px;
}
.form-itemm>input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-itemm>img{
    margin: 10px;
    border-radius: 50%;
    height: 15em;
    object-fit: cover;
    width: 15em;
}
.form-item>input {
    font-size: 25px;
    width: 400px;
    height: 40px;
}
.form-item>span {
    padding-top: 10px;
    padding-bottom: 5px;
}
.basic_data {
    display: flex;
    flex-direction: column;
}
.social_set {
    display: flex;
    flex-direction: column;
}
.data_input {
    display: flex;
}
.data_input>.basic_data {
    width: 50%;
}
.btn {
    display: flex;
}