.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.slide-1 {
  background-image: url(../../img/SubmissionUrination.jpg);
  background-size: 100%;
  background-position: center;
  
}
.slide-2 {
  background-image: url(../../img/hike-3.jpeg);
  background-size: 100%;
  background-position: center;
}
.slide-3 {
  background-image: url(../../img/Mission.jpg);
  background-size: 100%;
  background-position: center;
}

.reasons_why_us {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}

.reasons_why_us h2 {
  color: black;
  font-size: 30px;
}

.reasons_in_row {
  display: flex;
  padding-top: 50px;
  margin-left: 2%;
  justify-content: space-evenly;
  margin-top: 2%;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.reason_text {
  width:80%;
  text-align: center;
}

.reason_photo img{
  width: 33%;
  border-radius: 50%;
}

.reason_photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason_title {
  margin-top: 20px;
}