.About_container {
width: 1280px;
margin: auto;
}
.About_text {
  width: 100%; 
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.About_text>div {
    font-size: 25px;
    width: 100%;
}
.About_talk {
    width: 100%;
    height: 100px;  
    margin-top: 30px;
    
}
.div_text {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.div_photo {
    display: flex;
    justify-content: space-around
}
.talk_photo {
    margin: 10px;
}
.About_video {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 150px;
}

.About_video img {
  width: 100%;
}

.About_requisites {
    width: 100%; 
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.About_requisites>ul {
    padding: 0;
    font-size: 25px;
}